body{
    background-image:
        url('pics/background-gym.jpg');
    background-size: cover;
    background-position: cover;
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    height: 100px;
    position: relative;
}